.home-wrapper {
  height: 100%;
  // min-height: calc(100vh - 10rem);

  // @include media-breakpoint-down(lg) {
  //   min-height: calc(100vh - 9rem);
  // }

  // @include media-breakpoint-down(sm) {
  //   min-height: calc(100vh - 8.5rem);
  // }

  .left-side {
    .text-wrapper {
      max-width: 38rem;

      h1 {
        font-size: $size80;

        @include media-breakpoint-down(lg) {
          font-size: $size64;
          line-height: 52px;
          margin-bottom: 1rem;
        }

        @include media-breakpoint-down(sm) {
          font-size: $size48;
        }
      }

      p {
        font-size: 1.5rem;
        font-weight: $font-weight-light;

        @include media-breakpoint-down(lg) {
          font-size: 20px;
          line-height: 30px;
        }

        @include media-breakpoint-down(sm) {
          font-size: $size16;
          line-height: $size24;
        }
      }
    }

    .svg-container {
      display: flex;

      > :first-child {
        margin-right: 1.5rem;
      }
    }
  }

  .right-side {
    position: relative;
    min-height: 25rem;

    @include media-breakpoint-down(lg) {
      min-height: auto;
    }
    
    .oval-wrapper {
      .oval-2 {
        z-index: 0;
        height: 422px;
        width: 422px;
        border-radius: 50%;
        background-color: $gray-2;
        margin: 0 auto;
        
        @include media-breakpoint-up(lg) {
          height: 604px;
          width: 604px;
          margin: initial;
        }
      }
  
      .img-container {
        @include media-breakpoint-up(md) {
          position: absolute;
          top: 0;
          left: calc(50% - 382px);
          width: 764px;
          height: 100%;
        }
        
        @include media-breakpoint-up(lg) {
          >img {
            width: 100%;
          }
        }
      }
    }

  }
}
